<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="1000" translate="label">
            <group id="whalestack_paymentgateway" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="3" translate="label">
                <label>Whalestack</label>
                <comment><![CDATA[Accept crypto and stablecoin payments in crypto and instantly settle in your preferred currency. <a href="https://www.whalestack.com" target="_blank">Sign up</a> for a Whalestack account and get your <a href="https://www.whalestack.com/en/api-settings" target="_blank">API credentials</a>.]]></comment>

                <fieldset_css>complex whalestack-admin-config</fieldset_css>
                <frontend_model>Whalestack\PaymentGateway\Model\Adminhtml\Fieldset</frontend_model>
                <!--<attribute type="displayIn">recommended_solutions</attribute>-->

                <field id="active" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="20" translate="label" type="text">
                    <label>Title</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>API Key</label>
                    <backend_model>Whalestack\PaymentGateway\Model\Validation\InputValidation</backend_model>
                    <comment><![CDATA[Get your API Key <a href="https://www.whalestack.com/en/api-settings?utm_source=magento2" target="_blank">here</a>. Enter API key and secret, press 'Save Config', then continue to customize other parameters.]]></comment>
                    <validate>required-entry</validate>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>API Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Get your API Secret <a href="https://www.whalestack.com/en/api-settings?utm_source=magento2" target="_blank">here</a>. Enter API key and secret, press 'Save Config', then continue to customize other parameters.]]></comment>
                    <validate>required-entry</validate>
                </field>
                <field id="settlement_currency" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Settlement Asset</label>
                    <backend_model>Whalestack\PaymentGateway\Model\Validation\SettlementAssetValidation</backend_model>
                    <source_model>Whalestack\PaymentGateway\Model\Source\SettlementAssets</source_model>
                    <comment><![CDATA[- The currency that the crypto payments get converted to.<br />- Choose ORIGIN if you want to get credited in the exact same currency your customer paid in (without any conversion). <br />- API key and secret must be provided and to view all currency options.]]></comment>
                </field>
                <field id="checkout_language" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Page Language</label>
                    <source_model>Whalestack\PaymentGateway\Model\Source\CheckoutLanguages</source_model>
                    <comment>The language that your checkout page will display in. Choose 'auto' to automatically detect the customer's main browser language. Fallback language code is 'en'.</comment>
                </field>
                <field id="price_display_method" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Cart Price Display Method</label>
                    <source_model>Whalestack\PaymentGateway\Model\Source\PriceDisplayMethod</source_model>
                    <comment><![CDATA[- "Detailed" displays all line items, shipping costs, taxes, discounts on the Whalestack checkout page. <br />- "Order Total" displays the total order amount on the Whalestack checkout page.]]></comment>
                </field>
                <field id="show_logo" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="62" translate="label" type="select">
                    <label>Show Whalestack Logo</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show Whalestack logo on checkout page.</comment>
                </field>
                <field id="checkout_page_message" translate="label" type="textarea" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Checkout Page Message</label>
                    <comment>Show redirect message on checkout page. Leave blank if not needed.</comment>
                </field>
                <field id="allowspecific" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label" type="allowspecific">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="multiselect">
                <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="sort_order" showInDefault="1" showInStore="1" showInWebsite="0" sortOrder="100" translate="label" type="text">
                    <label>Sort Order</label>
                </field>
            </group>
        </section>
    </system>
</config>