.whalestack-admin-config .heading {background: url("../img/whalestack-logo.png") no-repeat 0 50% / 18rem auto; padding-left: 20rem; padding-right: 15rem}
.whalestack-admin-config .button-container {float: right;}
.whalestack-admin-config.section-config.active > .admin__collapsible-block + input + fieldset { margin-left: 40px; }
